DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=consul
DB_USERNAME=sail
DB_PASSWORD=cambia_esta_contrasena

DB_DATABASE_PGSQL=consul_backup
DB_USERNAME_PGSQL=sail
DB_PASSWORD_PGSQL=cambia_esta_contrasena
